.md-content::before {
    content: "";
    display: block;
    height: 90px;
    margin-bottom: 1.5rem;
    background: url("../logo/ARTEMIS-Logo_Horizontal_Full_Color.png") center center no-repeat;
    background-size: 320px auto;
}
